<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MNC PORTFOLIO</title>

    
    <!-- custom css file -->
    <link rel="stylesheet" href="{% static 'css/cpw.css' %}">
  </head>
 <body>

  <form class="formi" action="" method="POST">
    {% csrf_token %}
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Change Password</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="password" name="OldPassword" placeholder="Old Password" maxlength="8" minlength="6" required id="id_OldPassword">
                        </div>

                        <div class="field input-field">
                            <input type="password" name="NewPassword" placeholder="New Password" maxlength="8" minlength="6" required id="id_NewPassword">
                           
                        </div>
                        <div class="field input-field">
                            <input type="password" name="ConfirmNewPassword" placeholder="Confirm New Password" maxlength="8" minlength="6" required id="id_ConfirmNewPassword">
                        </div>
                        <div class="alrt-msg">
                        {% for msg in messages %}
                        {{ msg }}
                        {% endfor %}

                        </div>

                        <div class="field button-field">
                          <input class="lg-btn"  type="submit" value="Save">

                        </div>
                    </form>
                </div>

            </div>

        </section>
      </form>
 
    </body>
</html>